@import url(global.css);

body{
    background-color: var(--accent);
}
.navbar {
  background-color: #191A1B;
}

/* Hero Section */
.about-hero {
  height: 427px;
  display: flex;
  align-items: center;
}

.about-hero h1,
.about-hero p {
  color: var(--dark);
}

.about-contents {
  text-align: left;
}
