@import url(global.css);

.contact-hero {
  background-image: url('../images/contact-image.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  height: 427px;
  
}

.contact-title h1, .contact-title p, .contact-hero h1, .contact-hero p  {
  color: var(--light);
}

.contact-contents {
  flex-direction: column;
}

/* Contact Info Section */
.contact-section {
  background: var(--light);
  padding: 2em;
}
.contact-item {
  display: flex;
  align-items: center;
}
  
.contact-item i {
  margin-right: 16px;
  color: var(--accent);
}

.contact-item p, label {
  margin: 0;
  font-size: 1rem;
}

.h3 {
  color: var(--dark);
}

 /* Contact Form */
form {
  padding: 2em;
  border-radius: 8px;
}

form .form-control {
  justify-content: left;
  padding: 8px 8px;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
}

.transparent-red {
  background-color: transparent;
}
