@import url(global.css);

.contact-title h1, .contact-title p, .contact-hero h1, .contact-hero p  {
  color: var(--dark);
}

.custom-bg {
  /* background-color: rgba(246, 243, 243, 0.638); */
  border-radius: 16px;
  border: 1px solid rgba(52, 49, 49, 0.147);
  /* box-shadow: 0 2px 10px rgba(36, 35, 35, 0.253); */
}
/* Contact Info Section */
.contact-section {
  background: var(--light);
  padding: 2em;
}
.contact-item {
  display: flex;
  align-items: center;
}
  
.contact-item i {
  margin-right: 16px;
  color: var(--accent);
}

.contact-item p, label {
  margin: 0;
  font-size: 1rem;
}

.h3 {
  color: var(--dark);
}

 /* Contact Form */
form {
  padding: 2em;
  border-radius: 8px;
}

form .form-control {
  justify-content: left;
  padding: 8px 8px;
  width: 100%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
}

.transparent-red {
  background-color: transparent;
}