/* This files contains additional styles for index.html*/
@import url(global.css);
body {
  background-color: #FFFFFF;
}

/* Banner Override */
section.hero {
  background-image: url('../images/index-hero.png');
}

.h3 {
  color: var(--nav-link);
}

.index-content {
 padding: 0 48px;
}

h1,h2,h3,h4,h5,h6,b, p{
  color: var(--light);
}

p > span {
  font-weight: 700;
}

.video-wrapper iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 16 / 9 ;
  border: none;
}

