@import url(global.css);

body{
  background: #FFFFFF;
  background: linear-gradient(24deg,rgb(12, 12, 12) 0%, rgb(13 , 14, 33, 100) 50%, rgb(209, 207, 207) 150%);
}
/* Portfolio Banner */
.portfolio-hero {
  /* background-image: url('../images/portfolio-img.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  margin-top: 150px;
  height: 250px;;
  text-align: left;
  /* height: 427px; */
}

.portfolio-contents h1, .portfolio-contents p {
  color: var(--light);
}


/* Portfolio Section */
.gallery-section, .gallery-image{
  padding-top: 16px;
  padding-bottom: 16px;
}

.gallery-image {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  padding-bottom: 8px;
}

@media (max-width: 992px) {
  .gallery-image {
    width: 100%;
    max-width: 100%;
  }
}

/* Hover Effect */
.gallery-image:hover {
  filter: brightness(75%);
}

/* Modal */
.image-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

#modalImg {
  width: 100%;
  height: auto;
  max-width: 1000px;
  max-height: 80vh;
  border-radius: 10px;
  display: block;
  object-fit: contain;
}

.modal-content-wrapper {
  position: relative;
  max-width: 80%;
  max-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-footer-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(255, 255, 255, 0.623);
  backdrop-filter: blur(1px);
  color: var(--d-blue);
  padding: 16px 20px;
  border-radius: 8px;
  max-width: 60%;
}
.modal-description {
  font-size: 16;
}
.modal-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

footer a {
  color: var(--light) !important;
}