@import url(global.css);

.section-3 {
  background-image: url('../images/serv-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Services Card */
.services-wrapper > .row {
  padding: 24px 0;
}

.row > .col {
  justify-content: center;
}

.hover-card {
  position: relative;
  width: 100%;
  max-width: 380px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.308);
  transition: transform 0.3s ease;
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .hover-card {
    width: 100%;
    max-width: 100%;
  }
}

.card-img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}

.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  padding: 24px;
  transform: translateY(55%);
  transition: transform 0.4s ease;
  text-align: left;
}

.hover-card:hover .card-footer {
  transform: translateY(0);
}

.hover-card:hover img {
  transform: scale(1.25);
  transition: transform 0.4s ease;
}

.card-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-footer h3 {
  font-size: 18px;
  margin: 0 0 8px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.card-footer .card-desc {
  font-size: 16px;
  margin-bottom: 12px;
  color: #444;
}

/* Card Button */
.transparent-red-sm {
  display: inline-block;
  padding: 8px 16px;
  background: transparent;
  color: var(--accent);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  text-decoration: none;
}


/* Center and resize button on smaller screens */
@media (max-width: 768px) {
  .card-footer {
    align-items: center;
    text-align: center;
  }

  .transparent-red-sm {
    align-self: center;
    font-size: 16px;
    padding: 8px 8px;
  }
}